/*!
 * Customised for cex alert
 * Few are overridden from agent.css
 * Few are specific to cexalert.css
 */


#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: none;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption .newsfeed {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;	
}

#portfolio .portfolio-item .portfolio-caption .newsfeed a {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-style: normal;
	font-size: 16px;
	font-weight: 600;

}

#portfolio .portfolio-item .portfolio-caption p.newsfeeddate {
	text-align: left;
	font-size: 12px;
}